/* fonts.css */

/* @font-face {
  font-family: 'DengXianLight';
  src: url('/fonts/DengXian-Light.woff') format('woff');

} */
/* Reset default styles */
body {
  font-family: 'DengXianLight', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header */
header {
height: 1vh;
  padding-top: 10px;
}

/* Logo */
.logo {
  height: 50px;
  width: auto;
}

/* First Section */
.first_section {
  background-image: url("../public/img/Picture2.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  height: 70vh;
}

.first_section>div {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.562);
  padding: 20px;
  margin: 0 auto;
  /* Center the div horizontally */
  text-align: center;
}


.first_section h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Button Styles */
.btn {
  border-radius: 15px;
  background: #AF2F64;
  padding: 15px 30px;
  border: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
 

}
.btn:hover {
  background-color: #721942;
  
}
.btn a {
  text-decoration: none;
  color: white;

}

/* Course Grid */
.title {
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* Aligns items to each end */
  align-items: center;
  /* Centers items vertically */
  padding: 20px;
  padding-right: 10%;
  padding-left: 10%;
  font-weight: bold;
}

.title>h1 {
  font-size: 40px;

}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(3, 1fr);
  /* Three columns */
  grid-gap: 20px;
  /* Gap between grid items */

  margin-top: 20px;
}

.grid-item {

  padding: 20px;
  text-align: center;

}

.grid-item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 200px;
}

.price {
  color: #AF2F64;
  font-size: large;
  font-weight: bold;
}

/* Contact Form */
.contact {
  margin: 5% auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 15px;
  background: #F9B454;
}

.contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.contact button {
  display: block;
  /* Block element */
  margin: auto;
  /* Center align horizontally */
}



/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}